{% extends "base.html" %}
{% block content %}
    {% for todolist in todo_list %}
        <li>
            {{ todolist.title }}
        </li>
    {% empty %}
        <h4> You have no lists!</h4>
    {% endfor %}
{% endblock %}
